newrelic:
  #
  # Update with your New Relic account license key:
  #
  license_key: 'YOUR_LICENSE_KEY_HERE'
  #
  # Set to '1' for verbose output, remove for normal output.
  # All output goes to stdout/stderr.
  #
  verbose: 1
  #
  # Update with your proxy information (optional) for 
  # communicating with new relic servers if you are behind 
  # a firewall. 
  # 
  #proxy:
  #  address: ''
  #  port: 
  #  user: 
  #  password:

#
# Agent Configuration, describe your nginx instances here
#
agents:
  elasticsearch_stats_agent:
    -
      # Application name
      name: "Application name"

      url: "http://localhost:9200"

      # Username and password for HTTP basic auth
      # username: ""
      # password: ""

      # Index name
      # using "_all" with provide stats for all indices
      index: "_all"

