newrelic:
  #
  # Update with your New Relic account license key:
  #
  license_key: 'YOUR_LICENSE_KEY_HERE'
  #
  # Set to '1' for verbose output, remove for normal output.
  # All output goes to stdout/stderr.
  #
  verbose: 1

#
# Agent Configuration, describe your nginx instances here
#
agents:
  elasticsearch_stats_agent:
    -
      # Application name
      name: "Application name"
      # Index name
      # using "_all" with provide stats for all indices
      index: "index_name"
      url: "http://localhost:9200"

